/*Adaptation*/
@media screen and (max-width:1650px){
    .logo{        
        max-width: 450px;    
    }
    .container{
        padding: 10px 150px;   
    }
    .header-nav{  
        font-size: 16px; 
    } 

    .modal_bewerb {
        .title_bewerb{        
            span{
                padding-left:5%;
            }
        }
    }
}

/*Support window*/
@media screen and (max-width:1550px){
    .modal {
        top:12%;
    }


}

@media screen and (max-width:1245px){
       .logo{        
        max-width: 350px; 
        padding:5px 0px  ;   
    }
    .container{
        padding: 10px 100px;   
    }
    .header-nav{  
        font-size: 14px; 
        a{
            padding: 0 5px;   
        }  
    } 

    /*section 2 Kontent*/
    .title{           
        font-size: 40px;
        span{            
            font-size: 60px;             
        } 
    }

    .grid_content{    
        gap:25px 15px;        
    }

    .course-item{ 
        img {
            padding:15px;            
            }
       h3{            
            font-size: 18px;            
        }    
        }
    .kontakt_funktion{
        padding-top: 15px;
        .kontakt_link {
            font-size: 17px;
            font-weight: 700;
        }
    }

    /*section 3 Footer*/
    .footer_item{    
        padding:30px 70px; 
        font-size:12px ;
        img{           
            margin-right: 7px;          
        }                
    }
/*modla_termin*/

   .modal_weaper {  
    .header {
        img {            
            width: 500px;            
        }
    } 
    }

    .modal {
        width: 70%;
        left:15%;
    }

    /*modal Download font*/
    .downlod_files {
        
        a {
            font-size: 17px;
        }
        button {
            font-size: 17px;
        }

    }

    /*modal Bewerbung font*/
    .modal_bewerb {
        .title_bewerb{
            font-size: 22px;
        }

        .bewerb_upload {
            margin-top: 0;
            h2 {
                font-size: 17px; 
            }
            button {
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width:835px){
    .logo{        
     max-width: 250px; 
     padding:0;   
 }

 .container{
     padding: 10px 30px;   
 }

 .header-nav{  
     font-size: 13px; 
     a{
         padding: 0 5px;   
     }  
 } 

 .cover{
    height: 350px;
 }

 /*section 2 Kontent*/
 .title{           
    font-size: 30px;
    span{            
        font-size: 50px;             
    }
}

.grid_content{    
    gap:20px 10px;        
}

.course-item{ 
    img {
        padding:15px;            
        }
   h3{            
        font-size: 15px;            
    }    
    }

    .kontakt_funktion{
        .kontakt_link {
            font-size: 15px;
            font-weight: 700;
        }
    }

 /*Section 3 footer*/
 .footer_item{    
    padding:30px 40px; 
    font-size:8px ;
    .rotenplan{
        font-size: 8px;
    }
    img{
        width: 15px;           
        margin-right:3px;          
    }                
}

.untre-footer{
    font-size: 5px;
}


/*modal Download*/
.downlod_files {            
    .download_content {
        margin: 0;
        justify-content: center;
    }
}


.modal {
    top:8%;
}

.map_small {
    display: none;
}
.map_big {
    display: block;
}
}

@media screen and (max-width:580px){
    .container{
        padding: 10px 20px;   
    }
    .logo{        
        max-width: 300px;        
    }
    #header {
        justify-content: space-around;
    }
    .header-nav{  
        font-size: 9px;     
    }
    .cover {
        display: none;
    }

    /* navigation in header wechseln*/
    .header-nav {
        display: none;
    }
    .menu_toggle {
        display: block;
    }

    /*section 2 Kontent*/
    .title{           
        font-size: 25px;
        span{            
            font-size: 35px;             
        }
    }
    .grid_content{
    grid-template-columns: repeat(2,1fr);
    }

    /*Title im Modalsheader mit Logo anpassen*/

    .modal__header {
        
        h2 {
            font-size: 17px;
            span {
            font-size: 20px;            
            }            
        }
    }

    /*die Breite von Modals Fenster anpassen*/
    .modal {
        top:5%;
        width: 80%;
        left:11%;
    }

/*modal Download*/

    .modal_weaper { 
        padding:10px 20px;
        .header {
            img {            
                width: 100%;            
            }
        } 

     
    }
}

@media screen and (max-width:424px){
    .container{
        padding: 10px 15px;   
    }
    .header-nav{  
        font-size: 8px;  
        a{
            padding: 0 3px;   
        }     
    }
    .logo{        
        max-width: 250px;        
    }
    .cover{
        height: 250px;
     }
    .footer_item{    
        padding:30px 40px; 
        font-size:7px ;
        .rotenplan{
            font-size: 7px;
        }
    }
    .kontact{
        padding-top:20px ;
    }

    .kontakt_funktion{
        padding-top: 0;
        .kontakt_link {
            font-size: 13px;
            font-weight: 600;
        }
    }

    .modal {
        top:5%;
        width: 90%;
        left:6%;
    }

    .modal_bewerb {
        .title_bewerb{
            font-size: 19px;
        }

        .bewerb_upload {
            margin-top: 0;
            h2 {
                font-size: 15px; 
            }
            button {
                font-size: 15px;
            }
        }
    }

    
}


@media screen and (max-width:1245px){
}

@media screen and (max-width:975px){
   
    
   
}

@media screen and (max-width:580px){
    
}
