/*Modals Fenster Einrichtung*/

.modal {
    display: none;       
    position: fixed;
    z-index: 1;        
    top: 20%;
    left: 25%;       
    width:50%;    
    box-shadow: 0px 10px 50px 0px #94c11f;    
    background-color:rgba(253, 253, 253, 0.9);
    .close {
        padding: 10px;
        display: flex; 
        justify-content: end;         
        button{            
            position: absolute;
        }
    }
}
.modal_weaper {    
    padding:10px 50px;
    margin: 20px;     
    .header {     
        box-shadow: 0 10px 6px rgba(148,193,31, 0.1);        
        border-bottom:2px solid #94c11f;        
        img {
            display: block;
            margin: 0 auto;
            width: 600px;
            padding: 10px;
        }
     } 
    

    
}

.modal__header {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 10px; 
    padding-bottom: 10px; 
    box-shadow: 0 10px 6px rgba(148,193,31, 0.1);        
    border-bottom:2px solid #94c11f;
    img {
        width: 30%;
    }
    h2 {
        font-size: 20px;
        span {
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        }
        
    }
}

/*modal support*/
.modal__support {            
    display:none;    
    .inpuut__contact {
        display: flex;
        align-items:end;
        flex-wrap: wrap;        
        .input__input {
            width: 170px;
            min-height: 35px;
            border-radius: 5px;
            border:none;
            box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
            font-size: 14px;   
            margin:10px 10px 10px 0;
            padding:10px; 
        }
       .input__name {
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }
        }
        .input__email{
            width: 220px;
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }                
        }        
    }

    .input__title {
        margin-top: 40px; 
        label {
            display: block;
            font-size: 21px;
            font-weight: 700;
        }       
        textarea {
            margin: 10px 0;
            width: 100%;
            min-height:160px ;
            border:none;
            resize: none;
            padding:10px;
            border-radius: 5px;                
        }
    }      
}

/*button Einrichten*/
.button__senden {
    font-weight: 700;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    min-height: 30px;        
    border-style: none;
    box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);
    background:linear-gradient(to right, #D9D9D9, #94c11f );       
}
.button__senden:hover{
    background:linear-gradient(to right,#94c11f, #D9D9D9 );
} 

/*modals Termin*/
.modal__termin {         
    .inpuut__contact {
        display: flex;
        align-items:end;
        flex-wrap: wrap;        
        .input__input {
            width: 170px;
            min-height: 35px;
            border-radius: 5px;
            border:none;
            box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
            font-size: 14px;   
            margin:10px 10px 10px 0;
            padding:10px; 
        }
       .input__name {
            label {
                display: block;
                font-size: 21px;
                font-weight: 800;
            }
        }
        .input__email{
            width: 220px;
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }                
        }        
    }   
    .termin_date_zeit {
        margin: 30px 0 50px 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .termin__datum {
            label {
                margin:10px 0;
                display: block;
                margin-bottom: 10px;
                font-weight: 800;
            }
            input {
                width: 170px;                
                border-radius: 5px;
                border:none;
                box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
                font-size: 14px;   
                margin:10px 30px 0 0;
                padding:10px;                 
            }
            
        }
    } 
   

}  
#termin_thema_label {
    display: block;
    font-size: 21px;
    font-weight: 700;
}
#termin_thema {
    margin: 10px 0;
    width: 100%;
    min-height:60px ;
    border:none;
    resize: none;
    padding:10px;
    border-radius: 5px;  
}         
#time {
    width: 170px;
    border-radius: 5px;
    border:none;
    box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
    font-size: 14px;   
    margin:10px 30px 0 0;
    padding:10px;  
   
}

/* Modals Download*/
.downlod_files {
    width: 70%;
    display: block;
    margin: 20px auto;
    min-height: 60px;
    border-bottom:2px solid #abaca8;
    padding: 10px;
    .download_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 10px;
    }            
    a {
        font-size: 20px;
        font-weight:800;                                  
    }    
    button {
        min-height: 40px;   
        margin: 0;                               
    }
}
        
/* modal Bewerbung*/   
.modal_bewerb {
    display: none;
    /*background: url("../imgg/swg_bewerb.jpg")  center/cover no-repeat;*/
    .title_bewerb{
        text-align: center;
        padding:50px 10px;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.2;
        span{
            color:#94c11f;
            text-transform: lowercase;
            padding-left:10%;
        }
    }
    .bewerb_upload {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            padding: 10px;
            font-size: 25px;
            font-weight: 800;            
        }
        .bewerb_input {            
            padding: 20px 10px;
            #pdf_file {
                color:red;                
                box-shadow: 0 13px 27px rgba(0,0,0, 0.2);                
            }
        }

        button { 
            min-height: 40px;                   
        }
    }

}
    /*Roteplan/ Karte einrichtung*/
    .map_small {
        margin: 0 20px;  
        box-shadow: 0 10px 6px rgba(243, 242, 242, 0.1);
    }

    .map_big {
        display: none;
    }



/* Modal Ruckruf*/
.modal_ruckruf {
    
    margin:0 20px 30px 0;
    .inpuut__contact {
        display: flex;
        align-items:end;
        flex-wrap: wrap; 
        margin-bottom: 20px;       
        .input__input {
            width: 170px;
            min-height: 35px;
            border-radius: 5px;
            border:none;
            box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
            font-size: 14px;   
            margin:10px 10px 10px 0;
            padding:10px; 
        }
       .input__name {
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }
        }
        .input__tel{            
            width: 220px;
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }                
        }       
      
    }
     .input {         
        label {
            display: block;
            font-size: 21px;
            font-weight: 700;
        }       
        textarea {
            margin: 10px 0;
            width: 100%;
            min-height:60px ;
            border:none;
            resize: none;
            padding:10px;
            border-radius: 5px;                
        }
    }  
    
}
/*Nachricht am end_message*/
.end_message  {
    border-radius: 10px;  
    display: none;
    position: fixed;
    z-index: 1;        
    top: 40%;
    left: 31%;      
    box-shadow: 0px 10px 50px 0px #94c11f;    
    background-color:rgba(253, 253, 253, 0.9);

    h2 {
        text-align: center;
        padding:15px;
        font-size: 30px;
        span {
            text-align: center;
        }
    }
}






    