* {
    box-sizing: border-box;
margin:0;
padding:0;
}

body {
    color:#212121;
    font:400 14px/1 'Robobto', sans-serif;
}

a {
    color:inherit;
    text-decoration: none;
}
ul {
    list-style:none;
}
img {
   max-width:100%;
}
button {
    all:unset;
}

/* Reset end */

.hover_green{
    a:hover{
        color: #94c11f;
    }
    button:hover {
        color: #94c11f;
    }
}

.center_uppercase{
    align-items: center;
    text-transform: uppercase;
    text-align: center;

}

header{
    display: flex;
    justify-content:space-between; 
    align-items: center;  
    border-bottom: 3px solid #94c11f;   
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
}

.container{
    padding: 20px 200px;   
}
.logo{
    padding:10px 0px  ;
    max-width: 650px;   
}

.menu_toggle {
    display: none;
    font-family: 30px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    right:50px;
    background-color:rgba(253, 253, 253, 0.9);
    min-width: 250px;
    z-index: 1; 
    font-weight: 800;
    text-transform: uppercase;
   

    ul {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid #94c11f;
            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: black;
            }           
            button {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: black;
                margin: 0 auto;
            }
            

        }
    }
}

/* menu animation*/
.menu.show {
    display: block;

}

.header-nav{
    display: flex;    
    font-size: 19px;    
    font-weight: 800;
    a{
        padding: 0 10px;   
    } 
    button {
        all:unset;
        padding: 0 10px; 
    }   
}

/* cover */
.cover{
    background: url(../imgg/swg_ccover1.jpg) no-repeat;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 2px 10px 0px #94c11f;
}

/*section content*/
.title{
    padding:30px 0 ;       
    font-weight: 900;    
    font-size: 50px;
    span{
        color: #94c11f; 
        font-size: 70px; 
        font-weight: 1000
    } 
}

.grid_content{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:40px 30px;
    padding-bottom: 40px;
}


.course-item{    
    box-shadow: 0 13px 27px rgba(0,0,0, 0.2);    
    img {
        padding:25px;
        width: 100%;
        margin: 0 auto;
        }
    h3{
        padding: 0 0 30px 0;        
        font-weight: 900;    
        font-size: 30px;
        color:#94c11f;
    }    
}

/*footer*/   

.footer_item{
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;        
    text-transform: uppercase;
    font-weight: 900;       
    padding:30px 100px;
    background-color: #100d3d;        
    a{            
        padding-right: 10px;            
    }            
}

.sozial_logos{
    display: flex;
    img{            
        max-width: 30px;
        margin: 10px 10px 10px 0 ;            
    } 
}

.adress{    
    address{
        display: flex;
        padding: 10px 0;
        font-weight: 600;
    }
        
    .rotenplan{            
            font-size: 10px;
        a{
            display: flex;
            align-items: center;
        } 
    }  

    img{
        max-width: 40px;
    }
}

.kontact_data{
    display: flex;
    text-transform: none;
    align-items: center;
    padding-bottom: 5px;
    img{
        max-width: 30px;    
    }

    a{
        padding-left: 5px;
    }
}

.untre-footer{
    color:#fff;        
    background-color: #212121;
    text-align: center;
    p{
        padding:5px;
    }        
}

/*Animation*/
    
.animat {
    transition: transform 0.3s ease-in-out;
}

.animat2 {
    transition: transform 0.3s ease-in-out;
}

/*Kontakt Liste einrichten*/

.kontakt_funktion{
    display: none;    
    position: fixed;
    background-color:rgba(236, 227, 227, 0.9);
    width: 100%;
    height: 100%;
    padding-top: 17%;
    z-index: 1; 
    li{       
        margin: 20px 0;
        padding:15px 20px;

        button  {
            all:unset;
        }
    } 
   .kontakt_link{   
    box-shadow: 0 3px 25px rgba(148,193,31, 0.7);
    border-radius: 18px;
    font-size: 20px;
    font-weight: 800;
   }  
    
}

/*rotating Image*/
/*
#rotatingImage{
   padding: 0;
   max-width: 80px; 
   max-height:80px;
   animation: spin 3s linear; 
   transition: transform 0.3s ease-in-out, opacity 5s ease-in-out;   
}
@keyframes spin{
    0% {transform:rotate(0deg) scale(0.8); opacity: 1;}
    25% {transform:rotate(90deg) scale(1.1);opacity: 0.9;}
    50% {transform:rotate(180deg) scale(1.3);opacity: 0.7;}
    75% {transform:rotate(170deg) scale(1.5);opacity: 0.5;}
    100%{transform: rotate(360deg) scale(1.7);opacity: 0; display: none;}    
}
*/
/*Modals Fenster Einrichtung*/

.modal {
    display: none;       
    position: fixed;
    z-index: 1;        
    top: 25%;
    left: 25%;       
    width:50%;    
    box-shadow: 0px 10px 50px 0px #94c11f;    
    background-color:rgba(253, 253, 253, 0.9);

    .close {
        padding: 10px;
        display: flex; 
        justify-content: end;         
        button{
            all:unset; 
            position: absolute;
        }
    }
}

.modal_weaper {    
    padding:10px 50px;
    margin: 20px;   
             
    .header {     
        box-shadow: 0 10px 6px rgba(148,193,31, 0.1);        
        border-bottom:2px solid #94c11f;          

        img {
            display: block;
            margin: 0 auto;
            width: 600px;
            padding: 10px;
        }

     } 
}

.modal__header {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 10px; 
    padding-bottom: 10px; 
    box-shadow: 0 10px 6px rgba(148,193,31, 0.1);        
    border-bottom:2px solid #94c11f;
    img {
        width: 30%;
    }
    h2 {
        font-size: 20px;
        span {
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        }
        
    }
}
/*Support windows*/

/*modal support*/
.modal__support {            
    display:none;  
   
    .inpuut__contact {
        display: flex;
        align-items:end;
        flex-wrap: wrap;        
        .input__input {
            width: 170px;
            min-height: 35px;
            border-radius: 5px;
            border:none;
            box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
            font-size: 14px;   
            margin:10px 10px 10px 0;
            padding:10px; 
        }

       .input__name {
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }
        }

        .input__email{
            width: 220px;
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }
                
        }        
    }

    .input__title {
        margin-top: 40px; 
        label {
            display: block;
            font-size: 21px;
            font-weight: 700;
        }       
        textarea {
            margin: 10px 0;
            width: 100%;
            min-height:160px ;
            border:none;
            resize: none;
            padding:10px;
            border-radius: 5px;                
        }
    }

    .button__senden {
        font-weight: 700;
        display: block;
        margin: 0 auto;
        width: 200px;
        min-height: 30px;        
        border-style: none;
        box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);
        background:linear-gradient(to right, #D9D9D9, #94c11f );
        transition: background 0.3s ease;    
    }

    .button__senden:hover{
        background:linear-gradient(to right,#94c11f, #D9D9D9 );
    }     

}

/*modals Termin*/

.modal__termin {         
       .inpuut__contact {
        display: flex;
        align-items:end;
        flex-wrap: wrap;        
        .input__input {
            width: 170px;
            min-height: 35px;
            border-radius: 5px;
            border:none;
            box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
            font-size: 14px;   
            margin:10px 10px 10px 0;
            padding:10px; 
        }

       .input__name {
        label {
            display: block;
            font-size: 21px;
            font-weight: 800;
        }
        }

        .input__email{
            width: 220px;
            label {
                display: block;
                font-size: 21px;
                font-weight: 700;
            }
                
        }
        
    }

    .button__senden {
        font-weight: 700;
        display: block;
        margin: 0 auto;
        width: 200px;
        min-height: 40px;
        border-radius: 5px;        
        border-style: none;
        box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);
        background:linear-gradient(to right, #D9D9D9, #94c11f );
        transition: background 0.3s ease; 
        margin-bottom: 20px;   
    }

    .button__senden:hover{
        background:linear-gradient(to right,#94c11f, #D9D9D9 );
    }
    
    .termin_date_zeit {
        margin: 30px 0 50px 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .termin__datum {
            label {
                margin:10px 0;
                display: block;
                margin-bottom: 10px;
                font-weight: 800;
            }
            input {
                width: 170px;                
                border-radius: 5px;
                border:none;
                box-shadow: 0 10px 6px rgba(12, 12, 12, 0.1);  
                font-size: 14px;   
                margin:10px 30px 0 0;
                padding:10px;                 
            }

        }
    }

}



/*Ende Modals Termin*/

/*modals Kunden Portal*/

/* Modals Download*/
.downlod_files {
    width: 70%;
    display: block;
    margin: 20px auto;
    min-height: 60px;
    border-bottom:2px solid #abaca8;
    padding: 10px;

    .download_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 10px;
    }
            
    a {
        font-size: 20px;
        font-weight:800;                                   
    }
    
    button {
        font-weight:800;
        font-size: 20px;                
        padding: 10px; 
        box-shadow: 0 13px 27px rgba(0,0,0, 0.2);  
        border:1px solid #94c11f;      
                              
    }
}
       
    
/* modal Bewerbung*/    

.modal_bewerb {
    display: none;
    /*background: url("../imgg/swg_bewerb.jpg")  center/cover no-repeat;*/

    .title_bewerb{
        text-align: center;
        padding:50px 10px;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.2;
        span{
            color:#94c11f;
            text-transform: lowercase;
            padding-left:10%;
        }

    }

    .bewerb_upload {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            padding: 10px;
            font-size: 25px;
            font-weight: 800;
            
        }

        .bewerb_input {            
            padding: 20px 10px;
            #pdf_file {
                color:red;                
                box-shadow: 0 13px 27px rgba(0,0,0, 0.2);                
            }
        }

        button {            
                font-weight:800;
                font-size: 20px;                
                padding: 10px; 
                box-shadow: 0 13px 27px rgba(0,0,0, 0.2);  
                border:1px solid #94c11f;  
        }
    }

}
    /*Roteplan/ Karte einrichtung*/
    .map_small {
        margin: 0 20px;  
        box-shadow: 0 10px 6px rgba(243, 242, 242, 0.1);
    }

    .map_big {
        display: none;
    }